* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* display: flex; */
  margin: 20px;
  justify-content: center;
}

.App {
  max-width: 800px;
  /* padding: 20px; */
}

.post {
  display: flex;
  padding: 15px;
  border: 1px solid teal;
  border-radius: 6px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;

}
.postForm {
  margin-bottom: 20px;
}









/* ========================OLD===================== */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* .App {

  border: 1px solid black;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
} */
/* 
input {
  border: 1px solid black;
  margin: 8px;
}

h1,
h2 {
  text-align: center;
  background-color: #e0edb8;
  border: 1px solid black;
  border-radius: 8px;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #490909;
  text-shadow: 2px 4px 8px rgba(17, 24, 234, 1.25);

}

.buttons {
  padding: 12px;
  background-color: aquamarine;
} */

